@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.titulo{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  margin-left: 15px;
  font-weight: 600;
}


.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar{
  background: #673ab7;
}

.logo{
  width: 100px;
  margin-right: 0 auto;
}
