<mat-card>

  <!-- Cabecera de la tarjeta que contiene el título y el campo de búsqueda -->
  <mat-card-header class="header">
    <h2 class="tituloPrincipal">Listado de Heroes</h2>

    <!-- Contenedor para el campo de búsqueda -->
    <div class="buscador" >
      <input class="form-control " type="text"
      required name='characterName' id='characterName'
      placeholder="Buscar Personaje" aria-label="Search" (keyup)="onSearch($event)">
    </div>
  </mat-card-header>

  <!-- Contenido principal de la tarjeta -->
  <mat-card-content>
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <div *ngFor="let personaje of paginatedPersonajes" fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" style="padding: 5px;">
          <mat-card class="card">
            <mat-card-header class="header">
              <mat-card-title>
                {{personaje.name}} <br>
                <span class="fecha">{{personaje.modified | date:'fullDate'}}</span>
              </mat-card-title>
            </mat-card-header>
            <img class="imagenes" mat-card-image src="{{personaje.thumbnail.path}}.{{personaje.thumbnail.extension}}" alt="{{personaje.name}}">
            <p class="description">{{personaje.description}}</p>
            <mat-card-footer class="footer">
              <button mat-button [routerLink]="['/comics', personaje.id]" class="boton">Comics</button>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card-content>  

    <!-- Componente de paginador para la tabla de personajes -->
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
