<mat-card>
    <div fxFlex fxLayout="column">
      <h2 class="tituloPrincipal">Listado de Heroes</h2>

          <!-- Campo de búsqueda
          <mat-form-field appearance="fill" class="buscador">
            <mat-label>Buscar personaje</mat-label>
            <input matInput #input (keyup)="buscar(input.value)">
          </mat-form-field> -->
  
      <div fxLayout="row wrap">
        <div *ngFor="let personaje of allPersonajes.data" fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" style="padding: 5px;">
          <mat-card class="card">
            <mat-card-header class="header">
              <mat-card-title>
                {{personaje.name}} <br>
                <span class="fecha">{{personaje.modified | date:'fullDate'}}</span>
              </mat-card-title>
            </mat-card-header>
            <img class="imagenes" mat-card-image src="{{personaje.thumbnail.path}}.{{personaje.thumbnail.extension}}" alt="{{personaje.name}}">
            <p class="description">{{personaje.description}}</p>
            <mat-card-footer class="footer">
              <button mat-button [routerLink]="['/comics', personaje.id]" class="boton">Comics</button>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
  
      <!-- Paginador -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>
  