.tituloPrincipal{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    margin-left: 20px;
}
.imagenes{
    min-height: 374px;
    max-height: 374px;
}
.card{
    border: 1px solid #fff;
    min-height: 809px;
    max-height: 809px;
}
.header{
    padding: 20px;
}

.description {
    flex: 1; 
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    min-width: 200px;
    min-height: 150px
}
.fecha{
    font-size: 15px;
}

.boton{
    width: 177px;
    height: 37px;
    font-size: 20px;
    margin: 20px;
    background: #673ab7;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}


.footer {
    padding: 10px; 
    text-align: center; 
}
.header{
    height: 110px;
}

.buscador{
    position: absolute;
    top: 80px;
    left: 40px;
}

.form-control {
    padding: 10px;
    font-size: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}